/* common css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-font-family {
  font-family: "Inter", sans-serif;
}

body{
  background-color: rgb(52, 52, 52) ;
}

.btn{
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  background-color: #469165;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s ease;
  box-shadow: 0px 4px 4px 0px #00000024;
}
.btn:hover{
  background-color:#fff;
  color: #469165;
}
a:hover{
  border-bottom: 1px solid black;
}
/* ========================== */

/* navbar css */
nav{
  width: 100%;
  height: 92px;
  background-color: #fff;
}
nav .nav-conteiner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 16px;
}
nav .nav-conteiner img{
  width: 139px;
}
nav ul{
  list-style: none;
  display: flex;
  gap: 32px;
  
}
nav a{
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

/* =========================== */


