/* common css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-font-family {
  font-family: "Inter", sans-serif;
}

.btn{
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  background-color: #469165;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  transition: 0.5s ease;
  box-shadow: 0px 4px 4px 0px #00000024; 
  vertical-align: middle;
}
.btn-2{
  background-color: transparent;
  border: 2px solid #fff;
  margin-left: 16px;
}
.btn-2 span{
  line-height: 1;
}
.btn-2 .material-symbols-outlined{
  vertical-align: middle;
  font-size: 16px;
}

.btn img{
  height: 15px;
  margin-left: 5px;
}
.btn:hover{
  background-color:#fff;
  color: #469165;
}


a:hover{
  border-bottom: 1px solid black;
}
/* ========================== */

/* navbar css */
nav{
  width: 100%;
  height: 92px;
  background-color: #fff;
}
nav .nav-conteiner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 16px;
}
nav .nav-conteiner img{
  width: 139px;
}
nav ul{
  list-style: none;
  display: flex;
  gap: 32px;
  
}
nav a{
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 5px;
}

/* =========================== */

/* banner css */

.banner{
  width: 100%;
  height: 674px;
  padding-top: 154px;
  background-image: url("../assets/hero-bg.png");
  text-align: center;
  
}

.banner .early-access{
  width: 229px;
  height: 36px;
  background-color: #fff;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  margin: 0 auto;
}
.banner .early-access p{
  font-size: 16px;
  font-weight: 500;
  color: #469165;
}
.banner .early-access .live1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #46916545;
}
.banner .early-access .live1 .live2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #4691659f;
}
.banner .early-access .live1 .live2 .live3{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #469165;
}

.banner h1{
  font-size: 72px;
  line-height: 84px;
  color: #fff;
  margin: 16px 0;
}
.banner h1 span{
  display: block;
  margin: 0 auto;
  color: #469165;
}

.banner .subtitle{
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 32px;
}
/* ============ */

/* nots css */

.notes{
margin: 0 auto;
padding: 32px;
width: 100%;
text-align: center ;
}

.notes .title h1{
  font-size: 48px;
  color: #001931;
}

.notes .title p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

.card-container{
  width: 85%;
  max-width: 1360px;
  display: flex;
  gap: 24px;
  margin: 44px auto 0;
}

.card{
  padding:24px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px 0 #00000013;
  transition: 0.5s ease;
}
.card:hover{
  background-color: #F7F6F2;
}
.card .icon{
  background-color: #F95555;
  width: 60px;
  padding: 13px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .icon img{
  width: 32px;
}
.card h3{
  color: #001931;
  font-size: 24px;
}
.card p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
/* ================== */

/* secendBrain css */

.secendBrain{
  padding: 120px;
  display: flex;
  align-items: center;
  gap: 60px;
}
.secendBrain h6{
  text-transform: uppercase;
  color: #469165;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

.secendBrain h1{
  font-size: 48px;
  color: #001931;
  margin-bottom: 16px;
}

.secendBrain .description{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}

.secendBrain .checkCircle{
  list-style: none;
}

.secendBrain .checkCircle li{
  margin-bottom: 16px;
  display: flex;
  gap: 6px;
}

.secendBrain .checkCircle li img{
  height: 20px;
}
/* ========== */

/* challeng Part css */
.challengPart{
  margin: 0 120px 120px;
  padding: 80px;
  text-align: center;
  background-color: #F7F6F2;
  border-radius: 12px;
}
.challengPart h1{
  font-size: 40px;
  color: #001931;
}

.challengPart p{
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin: 16px 0 24px;
}

/* ============= */

/* footer css */
footer{
  padding: 120px 120px 1px 120px;
  text-align: center;
  background-color: #001931;
}

footer .social{
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
footer .links{
  text-align: left;
}
footer .social .links h6{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
}

footer .social .links .social-icon{
  display: flex;
  gap: 18px;
}

footer .social .links .social-icon img{
  height: 20px;
}

footer hr{
 border: 1px solid #1d272f;  
}

footer p{
  margin: 30px 0;
  color: #FAFAFA;
  font-size: 16px;
  line-height: 24px;
}
/* =========== */
