/* common css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-font-family {
  font-family: "Inter", sans-serif;
}

.btn{
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  background-color: #469165;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s ease;
  box-shadow: 0px 4px 4px 0px #00000024;
}
.btn:hover{
  background-color:#fff;
  color: #469165;
}
a:hover{
  border-bottom: 1px solid black;
}
/* ========================== */

/* navbar css */
nav{
  width: 100%;
  height: 92px;
  background-color: #fff;
}
nav .nav-conteiner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 16px;
}
nav .nav-conteiner img{
  width: 139px;
}
nav ul{
  list-style: none;
  display: flex;
  gap: 32px;
  
}
nav a{
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 5px;
}

/* =========================== */

/* banner css */

.banner{
  width: 100%;
  height: 674px;
  padding-top: 154px;
  background-image: url("../assets/hero-bg.png");
  text-align: center;
  
}

.banner .early-access{
  width: 229px;
  height: 36px;
  background-color: #fff;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  margin: 0 auto;
}
.banner .early-access p{
  font-size: 16px;
  font-weight: 500;
  color: #469165;
}
.banner .early-access .live1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #46916545;
}
.banner .early-access .live1 .live2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #4691659f;
}
.banner .early-access .live1 .live2 .live3{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #469165;
}


/* ============ */
